Assignment- Week 1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [6]:
Pwskills = "Hello World"
print(Pwskills)

Hello World

In [11]:
L = [1,3,4,6,7,7, 1.2, 'hello', True]
print(L)

[1, 3, 4, 6, 7, 7, 1.2, 'hello', True]

In [9]:
number = 10.2
print(number)

10.2

In [17]:
T = (1,3,4,6,7,7, 1.2, 'hello', True)
print(T)

(1, 3, 4, 6, 7, 7, 1.2, 'hello', True)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘ ------ Str
(ii) var2 = ‘[ DS , ML , Python]’ --------- Str
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] ------- list
(iv) var4 = 1. ------ float

In [16]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [27]:
#The forward slash (/) operator is used to divide two operands. The result of the division is a floating-point number.
100/5

20.0

In [28]:
#The percent (%) operator is used to find the remainder of a division operation. The remainder is the part of the dividend that is not divisible by the divisor.
100%5

0

In [38]:
#The double forward slash (//) operator is used to perform floor division. Floor division rounds down the result of the division operation to the nearest integer.
100//5

20

In [31]:
#-The double asterisk (**) operator is used to perform exponentiation. Exponentiation raises the first operand to the power of the second operand.
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [25]:
l = [10,13,14,18.9, 20.9,'Hello Sir', 'All well', 4+10j, True]
for element in l:
    print(element, type(element))

10 <class 'int'>
13 <class 'int'>
14 <class 'int'>
18.9 <class 'float'>
20.9 <class 'float'>
Hello Sir <class 'str'>
All well <class 'str'>
(4+10j) <class 'complex'>
True <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
a= int(input())
b= int(input())
while a % b == 0:
    print(a//b)
    b += 1
    if a % b == 0:
        break

 100
 20

5

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [10]:
List =list(range(26))
for i in List:
    if i%3==0:
        print('the number',i,'is divisible by 3')
    else:
        print('the number',i,'is not divisible by 3')

the number 0 is divisible by 3
the number 1 is not divisible by 3
the number 2 is not divisible by 3
the number 3 is divisible by 3
the number 4 is not divisible by 3
the number 5 is not divisible by 3
the number 6 is divisible by 3
the number 7 is not divisible by 3
the number 8 is not divisible by 3
the number 9 is divisible by 3
the number 10 is not divisible by 3
the number 11 is not divisible by 3
the number 12 is divisible by 3
the number 13 is not divisible by 3
the number 14 is not divisible by 3
the number 15 is divisible by 3
the number 16 is not divisible by 3
the number 17 is not divisible by 3
the number 18 is divisible by 3
the number 19 is not divisible by 3
the number 20 is not divisible by 3
the number 21 is divisible by 3
the number 22 is not divisible by 3
the number 23 is not divisible by 3
the number 24 is divisible by 3
the number 25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
#Mutable data types are those whose values can be changed, while immutable data types are those whose values cannot be changed.
#mutalble eg: list
#immutalble eg: string

In [20]:
b[3]= 5

In [19]:
b = list(range(10))
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
b

[0, 1, 2, 5, 4, 5, 6, 7, 8, 9]

In [11]:
 a= "hello world"

In [17]:
a[0:5]= "Hi"

TypeError: 'str' object does not support item assignment